<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="assets/ico/favicon.ico">

    <title>Urban</title>

    <!-- Add FontAwesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="assets/css/style.css" rel="stylesheet">
    <!--<link href="assets/css/font-awesome.min.css" rel="stylesheet">-->


    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="assets/js/modernizr.js"></script>
  </head>

  <body>

    <!-- *****************************************************************************************************************
  	 HEADER navbar -->

     <%- include ("./partial/header") -%>

  <!-- ***************************************************************************************************************** -->

	<!-- *****************************************************************************************************************
	 HEADERWRAP
	 ***************************************************************************************************************** -->
	<div id="headerwrap">
	    <div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
          <h1>CREATORS AND CONTRIBUTORS</h1>
          <h5>Everyone is invited.</h5>
				</div>
			</div><!-- /row -->
	    </div> <!-- /container -->
	</div><!-- /headerwrap -->

	<!-- *****************************************************************************************************************
	 SERVICE LOGOS
	 ***************************************************************************************************************** -->
   <div id="service">
	 	<div class="container">
    <div class="row centered">
      <h2>CONTRIBUTE</h2>
      <p>Head over to <a href="https://www.github.com/matijaabicic/urban-slack" target="_blank">Urban Github Repo</a> and join the list below</p>
    </div> <!-- /row -->
 			<div class="row centered">
        <div class="col-md-8 col-md-offset-2">
          <div class="table-responsive">
            <% if (contributors.length > 0) { %>
            <table class="table">
              <% contributors.forEach(function(contributor) { %>
                <tr>
                  <td>
                    <a href="<%=contributor.html_url %>" target="_blank"><img src="<%= contributor.avatar_url %>" height="100" width="100"/></a>
                  </td>
                  <td><p><a href="<%=contributor.html_url %>" target="_blank"><%=contributor.login %></a></p></td>
                  <td><p>Contributions: <strong><%=contributor.contributions %><strong></p></td>
                </tr>
              <% }); %>
            </table>
            <% } else { %>
              <h1>PROBLEM OCCURED WHILE GETTING DATA FROM GITHUB</h1>
              <p>Head over to <a href="https://github.com/matijaabicic/urban-slack/graphs/contributors" target="_blank">Urban Github Repo</a> and see the list while we deal with the problem</p>
            <% } %>
          </div> <!-- /table-responsive -->
        </div>
      </div> <!-- /row -->
	 	</div><!--/container -->
	 </div><!--/service -->

   <br/>
   <br/>
   <div class="container">
     <div class="row centered">
      <h2>THINGS THAT WERE SHAMELESLY STOLEN</h2>
      <p>Bootstrap theme: <a href="http://blacktie.co/demo/solid/index.html?ref=UrbanSlack" target="_blank">SOLID</a> by Blacktie.</p>
      <p>Graphics credits: <a href="https://dribbble.com/amy_nicoleee" target="_blank">Amy Nicole Schwartz</a>, <a href="https://dribbble.com/arzarz" target="_blank">Sergey Arzamastsev</a>, <a href="https://dribbble.com/andrewcolinbeck" target="_blank">Andrew Colin Beck</a>, <a href="https://dribbble.com/drawsgood" target="_blank">Michael B. Myers Jr.</a>, <a href="https://dribbble.com/justinSpinozzi" target="_blank">Justin Spinozzi</a>, <a href="https://dribbble.com/Type08" target="_blank">Alen Pavlovic</a> and <a href="https://dribbble.com/denniscamacho" target="_blank">Dennis Camacho</a> .</p>
      <br/>
    </div><!-- row -->
   </div> <!-- container -->

	<!-- *****************************************************************************************************************
	 FOOTER -->

   <%- include ("./partial/footer") -%>

<!-- ***************************************************************************************************************** -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
	<script src="assets/js/retina-1.1.0.js"></script>
	<script src="assets/js/jquery.hoverdir.js"></script>
	<script src="assets/js/jquery.hoverex.min.js"></script>
	<script src="assets/js/jquery.prettyPhoto.js"></script>
  	<script src="assets/js/jquery.isotope.min.js"></script>
  	<script src="assets/js/custom.js"></script>



<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-74299720-1', 'auto');
  ga('send', 'pageview');

</script>
  </body>
</html>
